
nav.navbar.navbar-expand-lg {
    background-color: #00cec9;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}

a.nav-link {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font-weight: 700;
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: center;
}

a.nav-link:hover {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font-weight: 700;
    color: #f8c291; 
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: center;
}

h1 {
    text-align: center;
}

#search .custom-card {
    padding: 20px;
}

#search .custom-card img {
    height: 100%;
}